<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>ThreatLens - Alerts</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="main-content">

    <div class="header">

        <h1>🚨 Alert Management</h1>

        <p>All detected security alerts</p>

    </div>

    <div style="margin-bottom:20px;">

        <a href="/" class="btn pdf">

            ← Back to Dashboard

        </a>

    </div>

    <div class="table-container">

        <table>

            <thead>

                <tr>

                    <th>Alert ID</th>
                    <th>Timestamp</th>
                    <th>IP Address</th>
                    <th>Attack Type</th>
                    <th>Attempts</th>
                    <th>Severity</th>
                    <th>Score</th>
                    <th>MITRE ID</th>
                    <th>Threat Intel</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

                {% for alert in alerts %}

                <tr>

                    <td>{{ alert.alert_id }}</td>

                    <td>{{ alert.timestamp }}</td>

                    <td>{{ alert.ip }}</td>

                    <td>{{ alert.attack_type }}</td>

                    <td>{{ alert.attempts }}</td>

                    <td>

                        {% if alert.severity == "High" %}

                            🔴 High

                        {% else %}

                            🟡 Medium

                        {% endif %}

                    </td>

                    <td>{{ alert.score }}</td>

                    <td>{{ alert.mitre_id }}</td>

                    <td>

                        {% if alert.threat_intel == "Known Malicious" %}

                            🚨 Known Malicious

                        {% else %}

                            ✅ Clean

                        {% endif %}

                    </td>

                    <td>{{ alert.status }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

</body>

</html>
